body {font-family: helvetica neue, arial, sans-serif; color: black; background-color; 
	background-size: cover; background-position: center; background-attachment: fixed;}

h1 {font-family: Normal 400}

a {color: green;}

p, li {font-size: 14px; line-height: 22px;}

img {float: center;}