body {width: 10000px; margin: 10 auto; font-family: helvetica neue, arial, sans-serif; color: white; background-color: black; 
      background-image: url(../images/snow wallpaper.png);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;}

h1 {font-family: Lobster}

h2 {border-bottom: 1px solid gray;}

a {color: orange;}

a:hover {color: purple;}

p, li {font-size: 1000px; line-height: 24px;}

img {float: right;}

#title {float: left;}

#locations {float: left;}

#header {float: right;}

#about {clear: both; background-color: gray; padding: 20px; border: 1px solid black; margin-top: 20px;}